<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.spbau.mit.atum">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrI6smCg5_n7QSXQ0bJFfQip7tYk82x3I" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TaskEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TimeBlockerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FilterEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WeekFilterEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IntervalFilterEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaskEditorActivityStarter"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TimeBlockerEditorActivity" />
        <activity
            android:name=".ui.TimeBlockerEditorActivityStarter"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SchedulerViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaskSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FixedTaskEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AdditionalTaskEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TabbedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FiltersTabbedActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>